/* Basic Reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    position: sticky;

    padding: 15px 25px;

    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;

    color: #111;
}

.cart {
    font-size: 1.3rem;
}

/* Hero Section */
.page-header {
    text-align: center;

    padding: 55px 25px;

    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

.page-header h1 {
    font-size: 30px;

    margin-bottom: 50px;


    color: #111;
}

.page-header p {
    font-size: 25px;

    margin-bottom: 70px;

    color: #555;
}

/* Featured Section */
.featured {
    text-align: center;

    padding: 9px 7px;
}

.featured h2 {
    font-size: 25px;

    margin-bottom: 25px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product-card {
    margin: auto;
    padding: 15px;
    width: 750px;

    background: #fff;

    border-radius: 15px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card video {
    margin-bottom: 15px;

    border-radius: 15px;
    border: 3px solid #ddd;
    width: auto;
}

.product-card h3 {
    margin-bottom: 1.5px;

    font-size: 17px;
}

.product-card p {
    color: #007bff;

    font-weight: 600;
}

.product-colours {
    padding-bottom: 15px;
}

.product-card  .product-colours button {
    border: none;
    padding: 7.5px;
    display: inline-block;

    border-radius: 50%;
}

.product-card .product-colours button:hover {
    padding: 10px;
}

.product-card .buy-button {
    background: #007bff;
    color: #fff;

    font-weight: 600;

    border: none;
    border-radius: 40px;

    padding: 15px 22px;
}

.product-card .buy-button:hover {
    background: #0056d6;
    transform: scale(1.03);
}

.product-card .buy-button:active {
    transform: scale(0.97);
}

/* Footer */
footer {
    padding: 25px;
    margin-top: 35px;

    text-align: center;
;
    background: #fff;
    color: #555;
    font-size: 12px;

}
