/* Basic Reset */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}



/* Navbar */
.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    position: sticky;

    padding: 15px 25px;

    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;

    color: #111;
}

.cart {
    font-size: 1.3rem;

    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;

    padding: 12px 18px;
    margin-top: 20px;

    font-weight: 600;
    cursor: pointer;

    display: inline-block;
    max-width: 300px;
    white-space: nowrap;
    transition: width 0.3s ease, padding 0.3s ease;
}

.cart:hover {
    background: #0056d6;
    transform: scale(1.03);
}

.cart:active {
    transform: scale(0.97);
}



/* Hero Section */
.page-header {
    text-align: center;

    padding: 55px 25px;

    background: linear-gradient(to right, #fdfbfb, #ebedee);
}

.page-header h1 {
    font-size: 30px;

    margin-bottom: 50px;


    color: #111;
}

.page-header p {
    font-size: 25px;

    margin-bottom: 70px;

    color: #555;
}



/* shopping bar */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;

    background: #ffffff;
    backdrop-filter: blur(6px);

    box-shadow: -4px 0 25px rgba(0,0,0,0.1);
    padding: 25px;

    transform: translateX(110%);
    transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);

    z-index: 999;
    border-left: 1px solid #e9e9e9;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.cart-sidebar.show {
    transform: translateX(0);
}

.cart-sidebar.hidden {
    transform: translateX(100%);
}

#cart-items {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    flex: 1;
}
#cart-items::-webkit-scrollbar {
    display: none;
}

#cart-items li {
    background: #f3f6fa;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: translateX(0);
    opacity: 1;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.cart-item-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transform: translateX(120px);
    opacity: 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.item-top-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-colour {
    display: block;

    width: 110%;
    height: 10px;
    background: lightgray;

    margin-top: 6px;
    margin-bottom: -12.5px;

    border-radius: 10px 10px 45px 45px;
}

.cart-item.adding {
    transform: translateX(0);
    opacity: 1;
}

.cart-item.removing {
    transform: translateX(120px);
    opacity: 0;
}

.remove-btn {
    width: 25px;
    border: none;
    border-radius: 10px;
    float: right;

    padding: 5px;
    padding-left: 5.5px;
    margin-left: 15px;

    background: red;
    color: #ffffff;

    transition: transform 0.3s ease;
}

.remove-btn:hover {
    transform: scale(1.2);
}

.promo-code {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #f3f6fa;
    padding: 10px 15px;
    border-radius: 30px;

    margin-top: 15px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);

    transition: all 0.3s ease;
}

.promo-code input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease;
}

#subtotal {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;

    padding: 12px 18px;
    width: 100%;

    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s ease;
}

#cart-total-close-cart {
    margin-top: auto;
}


.cart-items-bottom {
    color: #fff;

    border: none;
    border-radius: 30px;

    padding: 12px 18px;

    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

}

#total-cart {
    background: #007bff;
    width: 100%;
}

#close-cart {
    background: #ff4b4b;
    width: 49%;
    display: inline-block;
    margin-top: 20px;
}

#buy-cart {
    background: #4bff9f;
    width: 49%;
    display: inline-block;
    margin-top: 20px;
}

#close-cart:hover {
    background: #e73838;
    transform: scale(1.03);
}

#close-cart:active {
    transform: scale(0.97);
}

#buy-cart:hover{
    background: #3fdc89;
    transform: scale(1.03);
}

#buy-cart:active {
    transform: scale(0.97);
}

.cart-total {
    position: absolute;
    bottom: 80px;
    left: 20px;

    width: calc(100% - 40px);
    padding: 14px 18px;

    background: #007bff;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(2px);
    z-index: 998;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.buyNotinf {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #4bff9f;
    color: #000;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    font-weight: 600;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.recipte-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.recipte-container button {
    padding: 10px;

    border: none;
    border-radius: 15px;
    width: 45%;
}

.downloadReceipt {
    float: left;
}

.noReceipt {
    float: right;
}


.recipte-container button:hover {
    background: #d8d8d8;
    transform: scale(1.03);
}

.recipte-container button:active {
    transform: scale(0.97);
}



/* Featured Section */
.featured {
    text-align: center;

    padding: 9px 7px;
}

.featured h2 {
    font-size: 25px;

    margin-bottom: 25px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.product-card {
    margin: auto;
    padding: 15px;
    width: 95%;

    background: #fff;

    border-radius: 15px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card video {
    margin-bottom: 15px;

    border-radius: 15px;
    border: 3px solid #ddd;
    width: auto;
}

.product-card h3 {
    margin-bottom: 1.5px;

    font-size: 17px;
}

.product-card p {
    color: #007bff;

    font-weight: 600;
}

.product-colours {
    padding-bottom: 15px;
}

.product-card  .product-colours button {
    border: none;
    padding: 7.5px;
    display: inline-block;

    border-radius: 50%;
}

.product-card .product-colours button:hover {
    padding: 10px;
}

.product-card .buy-button {
    background: #007bff;
    color: #fff;

    font-weight: 600;

    border: none;
    border-radius: 40px;

    padding: 15px 22px;
}

.product-card .buy-button:hover {
    background: #0056d6;
    transform: scale(1.03);
}

.product-card .buy-button:active {
    transform: scale(0.97);
}



/* Footer */
footer {
    padding: 25px;
    margin-top: 35px;

    text-align: center;
;
    background: #fff;
    color: #555;
    font-size: 12px;

}

.trustpilot-widget {
    margin: 40px auto;
    max-width: 300px;
    text-align: center;
}



/*media resize*/
@media only screen and (max-width: 1440px) and (min-width: 801px) {
    .products {
        display: block;
    }
    .product-card {
        width: 75%;

        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 801px) and (min-width: 451px) {
    .products {
        display: block;
    }
    .product-card {
        width: 75%;

        margin-bottom: 20px;
    }
    .product-card video {
        width: 75%;
        height: auto;
    }
}
@media only screen and (max-width: 450px) {
    .cart-sidebar {
        width: 105%;
    }

    .products {
        display: block;

        margin-bottom: 20px;
    }

    .product-card {
        margin-bottom: 20px;
    }

    .product-card video {
        width: 75%;
        height: auto;
    }
}
@media only screen and (max-width: 350px) {
    * {
        display: none;
    }}